* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

body {
  background-color: black;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('images/texture.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.15;
  z-index: -1;
}

.sky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.star{
  position: absolute;
  width: 5px;
  height: 150px;
  background: linear-gradient(-45deg, white, transparent);
  opacity: 0;
  transform: rotate(-45deg);
  pointer-events: none;
  border-radius: 2px;
  animation: shootStar 2s ease-out forwards;
}

.star.green{
  background: linear-gradient(-45deg, #b3eaad, transparent);
}

.star.orange{
  background: linear-gradient(-45deg, #f4c16e, transparent);
}

.star.pink{
  background: linear-gradient(-45deg, #ff47da, transparent);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: clamp(10px, 5vw, 25px); /* adjusts padding based on viewport width */
}

.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__left{
  min-height: 5px;
  min-width: 123px;
}

nav{
  flex: 1;
}

.hamburger{
  margin-top: 20px;
  margin-left: 20px;;
  gap: 5px;
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 30px;
  cursor: pointer;
  z-index: 999;
}

.hamburger__line{
  margin-top: 5px;
}

.hamburger__line::before{
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #b3eaad;
  border-radius: 5px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 55px;
}

.nav__list li {
  font-family: 'REM', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  list-style: none;
  user-select: none;
}

.nav__link {
  position: relative;
  color: #c4c4c4;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.nav__link--muted::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #c4c4c4;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.nav__link--muted:hover::after, .nav__link--muted:focus::after {
  width: 100%;
  background-color: #b3eaad;
}

.nav__link--muted:hover, .nav__link--muted:focus {
  color: #b3eaad;
}

.nav__link--CTA-one {
  color: #f4c16e;
}

.nav__link--CTA-one:hover, .nav__link--CTA-one:focus {
  color: #ffd89a;
}

.nav__link--CTA-one::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f4c16e;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.nav__link--CTA-one:hover::after, .nav__link--CTA-one:focus::after {
  width: 100%;
  background-color: #ffd89a;
}

.nav__link--CTA-two {
  color: #b3eaad;
}

.nav__link--CTA-two:hover, .nav__link--CTA-two:focus {
  color: #d3ffce;
}

.nav__link--CTA-two::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #b3eaad;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.nav__link--CTA-two:hover::after, .nav__link--CTA-two:focus::after {
  width: 100%;
  background-color: #d3ffce;
}

.accessibility{
  font-weight: 600;
  font-size: 1.1rem;
  font-family: quicksand, sans-serif;
  min-width: 123px;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: end;
}

.accessibility p{
  cursor: pointer;
  color: #c4c4c4;
  user-select: none;
  margin-right: 10px;
}

.checkbox{
  flex: 1;
  cursor: pointer;
  display: flex;
  user-select: none;
  align-items: center;
  justify-content: center;
  color: #c4c4c4;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: quicksand, sans-serif;
  top: 2px;
  height: 20px;
  max-width: 20px;
  border-radius: 4px;
  border: 2px solid #c4c4c4
}

.main {
  margin: 0 clamp(10px, 5vw, 50px);
  padding-bottom: 25px;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

.main__left, .main__right{
  flex: 1;
}

.main__center{
  flex: 3;
}

.intro{
  width: 100%;
  margin-top: 10px;
  padding-left: 55px;
}

.welcome__text{
  font-family: quicksand, sans-serif;
  font-weight: 600;
  color: #b3eaad;
  cursor: default;
  font-size: clamp(2.2rem, 6vw, 3rem);
}

.welcome__text span{
  transition: all 0.3s ease;
}

.welcome__text span:hover{
  color: #f4c16e;
  text-shadow: 0 0 10px #ffd07f;
}

#welcome__title--highlight{
  color: #f4c16e;
  text-shadow: 0 0 10px #ffd07f;
}

#welcome__title--highlight:hover{
  color: #ffd89a;
}

#welcome__title--highlight-2{
  font-size: clamp(2rem, 4vw, 2rem);
}

.top{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  backdrop-filter: blur(3px);
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 25px;
  gap: 25px;
}

.top::after, .top::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 15px;
  z-index: -1;
}

.top::after{
  background: radial-gradient(circle at 60% 105%, transparent 35%, #f4c16e);
  opacity: 0.125;
}

.top::before{
  border: 3px solid #f4c16e;
  opacity: 0.5;
  -webkit-mask-image: radial-gradient(circle at 60% 105%, transparent 550px, black 2000px);
  mask-image: radial-gradient(circle at 60% 105%, transparent 250px, black 500px);
}

.top__left{
  flex: 3 3 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}

.top__left img{
  height: auto;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 15px;
  object-fit: cover;
  border: 3px solid hsla(37, 86%, 69%, 0.5);
}

.top__right{
  flex: 5 5 0;
  color: #c4c4c4;
  font-family: quicksand, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.highlight__card{
  display: flex;
  flex-direction: column;
  position: relative;
  backdrop-filter: blur(3px);
  padding: 8px;
  border-radius: 15px;
  cursor: default;
}

.highlight__card::after, .highlight__card::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 15px;
  z-index: -1;
}

.highlight__card::after{
  background: linear-gradient(-45deg, transparent 35%, #f4c16e);
  opacity: .3;
  transition: opacity 0.3s ease-in-out;
}

.highlight__card:hover::after{
  opacity: .5;
}

.highlight__card::before{
  border: 3px solid #f4c16e;
  opacity: 0.5;
  -webkit-mask-image: radial-gradient(circle at 60% 105%, transparent 70px, black 2000px);
  mask-image: radial-gradient(circle at 60% 105%, transparent 70px, black 500px);
  transition: opacity 0.3s ease-in-out;
}

.highlight__card:hover::before{
  opacity: 0.7;
}

.highlight__card h2{
  font-size: 1.25rem;
  color: #f4c16e;
}

.highlight__card p{
  font-size: clamp(0.5rem, 0.375rem + 0.625vw, 1.125rem);
}

.bottom{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  backdrop-filter: blur(3px);
  font-family: quicksand, sans-serif;
  color: #b3eaad;
}

.bottom::after, .bottom::before{
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 15px;
  position: absolute;
  z-index: -1;
}

.bottom::after{
  background: radial-gradient(circle at 60% 85%, transparent 200px, #b3eaad 500px);
  opacity: .125;
}

.bottom::before{
  border: 3px solid #b3eaad;
  opacity: 0.7;
  -webkit-mask-image: radial-gradient(circle at 60% 105%, transparent 70px, black 2000px);
  mask-image: radial-gradient(circle at 60% 105%, transparent 70px, black 500px);
}

.hobbies{
  flex: 3 3 0;
}

.hobbies h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  font-weight: 600;
}

.hobbies ul {
  list-style: none;
  padding-left: 0;
}

.hobbies li {
  margin-bottom: 12px;
  line-height: 1.5;
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  text-wrap: nowrap;
}

.coding__partner{
  flex: 1 1 0;
  aspect-ratio: 1;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.coding__partner__caption{
  margin-bottom: -5px;
  font-size: clamp(0.75rem, 0.6rem + 0.75vw, 1.5rem);
  font-weight: 600;
  width: 100%;
  cursor: default;
  margin-bottom: 5px;
}

.coding__partner__image{
  width: 80%;
  height: auto;
  border-radius: 15px;
  border: 3px solid rgba(161, 218, 155, 0.5);
}

.planet {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translateX(-50%) rotate(200deg);
  width: 1400px;
  height: auto;
  z-index: -1;
  pointer-events: none;
}

.rotate{
  animation: rotate 300s linear infinite;
}


.socials{
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials ul {
  display: flex;
  gap: 50px;
  list-style: none;
}

.socials__link {
  font-family: 'REM', sans-serif;
  color: #b3eaad;
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
}

.socials__link:hover, .socials__link:focus {
  color: #d3ffce;
  text-shadow: 0 0 10px #d3ffce;
}

footer{
  text-align: center;
}

.planet__attribute{
  text-decoration: none;
  color: rgba(179, 234, 173, 0.1);
}

.fade-out {
    animation: fadeOut 0.3s ease-in-out forwards;
    animation-delay: 0s;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
}

.fade-in {
    animation: fadeIn 0.3s ease-in-out forwards;
    animation-delay: 0s;
    pointer-events: auto;
    visibility: visible;
    z-index: 0;
}

@media (max-width: 1285px){
  .nav__list{
    justify-content: start;
    gap: 25px;
  }

  .nav__list li{
    font-size: 1.15rem;
  }

  .header__left{
    display: none;
  }

  .intro{
    margin-top: 0;
  }

  .main__left, .main__right{
    display: none;
  }

  .highlight__card h2{
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  }

  .highlight__card p{
    font-size: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem);
  }

  .hobbies li{
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  }
}

@media (max-width: 768px) {
  /* mobile styles here */

  .page{
    padding: 0;
    height: 100%;
    justify-content: start;
  }

  header{
    width: 100%;
  }

  .hamburger{
    display: flex;
  }
  
  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav__list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
    gap: 35px;
  }

  .nav__list li{
    font-size: 2.5rem;
    font-weight: 600;
    list-style: none;
  }

  .nav__link{
    display: flex;
    justify-content: center;
  }

  .nav__list.hidden{
    display: none;
  }
  
  .accessibility{
    margin-right: 10px;
  }

  .accessibility.hidden{
    display: none;
  }

  .main{
    width: 100%;
    padding: 0 15px 0 15px;
    animation-delay: 0s;
    animation-duration: 0.3s;
  }

  .main.hidden{
    display: none;
  }

  .intro{
    padding-left: 15px;
  }

  .intro__title{
    text-align: center;
  }

  .top{
    gap: 15px;
    padding: 10px;
  }

  .top__left{
    width: 25%;
    height: auto;
    aspect-ratio: 1;
    border: none;
  }

  .top__right{
    gap: 10px;
    justify-content: space-evenly;
  }

  .highlight__card h2{
    font-size: clamp(0.4375rem, 0.325rem + 0.5625vw, 1rem);
    color: #f4c16e;
  }


  .highlight__card p{
    font-size: clamp(0.375rem, 0.25rem + 0.625vw, 1rem);
  }

  .bottom{
    flex-direction: column;
    gap: 10px;
  }

  .hobbies h3{
    font-size: clamp(0.75rem, 0.6rem + 0.75vw, 1.5rem);
    margin-bottom: 5px;
  }

  .hobbies li{
    margin-bottom: 3px;
    font-size: clamp(0.625rem, 0.5rem + 0.625vw, 1.25rem);
  }

  .coding__partner{
    justify-content: start;
    gap: 10px;
    height: auto;
    width: 50%;
  }

  .coding__partner__image{
    width: 75%;
  }

  .socials{
    margin-top: 15px;
  }

  .socials ul{
    gap: 25px;
  }
}

@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes shootStar {
  0%{
    transform: translate(0, 0) rotate(-45deg);
    opacity: 0;
  }

  50% {
    transform: translate(250, 250) rotate(-45deg);
    opacity: 1;
  }
  100% {
    transform: translate(500px, 500px) rotate(-45deg);
    opacity: 0;
  }
}

@keyframes rotate{
  from{
    transform: translateX(-50%) rotate(200deg);
  }
  to{
    transform: translateX(-50%) rotate(560deg);
  }
}