.grid-container {
    display: grid;
    width: 100%;
    justify-content: center; /* Centers the grid itself horizontally */
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); /* Responsive columns */
    gap: 50px;
    margin-bottom: 150px;
}

.grid-item {
    background-color: #68912f;
    border: 5px solid #506d27;
    min-height: 500px;
    max-width: 450px; /* Prevents items from stretching */
    margin: 0 auto; /* Centers individual items horizontally */
    padding: 5px;
}

.item-image, .youtube-embed, .gif-embed{
    width: 100%;
    height: 200px;
}

.item-image{
    margin: 10px 0 10px 0;
}

.item-title, .item-description, .item-stack, .tech-stack{
    width: 100%;
    text-align: start;
    font-family: "Noto Sans JP", serif;
    color: #a5d713;
}

.item-title{
    font-size: x-large;
}

.item-description{
    font-size: large;
}

.item-stack{
    margin-top: 10px;
    font-size: x-large;
}

.tech-stack{
    height: 50px;
}

.tech-stack-logo{
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 1440px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 500px) {
    .grid-item{
        width: 90vw;
    }

    .item-title{
        font-size: large;
    }

    .item-description{
        font-size: small;
    }

    .tech-stack-logo{
        width: 30px;
        height: 30px;
    }
}